ul{
    list-style: none;
}
li{
    display: inline;
    margin: 1rem;
}

img{
    max-height: 200px;
    width: auto;
}
.rodyti {
    background-color: #ff0000;
}
.maisyti{
    background-color: #0000ff;
}